#portal { width: 800px; height: 680px; margin: 10px auto; }

#bsdata { margin: 5px 5px 5px 720px; }
/*#img-links { padding: 10px 20px; }

.img { width: 145px; float: left; border: 2px solid #99BC99; padding: 10px; margin: 10px; border-radius: 10px; background: url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50% #F6A828;}

.img img { width: 140px; height: 130px; }

.desc { text-align: center; font-size: 16px; font-weight: bold;  }
.img a { text-decoration: none; }
.img img:hover { 
    opacity: 0.4;
    filter:alpha(opacity=40);
}*/

/*#gen-search { padding: 5px; background: url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50% #F6A828; margin: 10px auto; clear: left; border-radius: 10px; border: 2px solid #99BC99; width: 740px; }

#gen-search input[name='gs-item'] { width: 460px; height: 2em; font-size: 14px; padding-left: 5px; background: #FFF; }
#gen-search select[name='gs-category'] { width: 230px; font-size: 14px; padding: 6px 5px; }

#gen-search button { font-weight: bold; font-size: 14px; margin-top: -3px;}

#gen-search-results { clear: left; width: 750px; height: 390px; background: url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50% #F6A828; margin: 0 auto; border-radius: 10px; border: 2px solid #99BC99; }
#gsr-result { margin: 10px; border-collapse: collapse; }
#gsr-result td{ padding: 5px 10px; border: 1px solid #F6A828; }
#gsr-result th{ padding: 5px 10px; border: 1px solid #F6A828; background: #FFFFFF; }
#gsr-result a { text-decoration: none; font-weight: bold; }
#gsr-result-box { width: 730px; height: 360px; margin: 10px auto; padding-top: 10px; background: #fcefa1;}
*/